name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: image_to_ascii
            asset_name: image_to_ascii-linux-amd64
          - os: windows-latest
            artifact_name: image_to_ascii.exe
            asset_name: image_to_ascii-windows-amd64.exe
          - os: macos-latest
            artifact_name: image_to_ascii
            asset_name: image_to_ascii-macos-amd64

    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build --release --locked

      - name: Rename binary (Unix)
        if: matrix.os != 'windows-latest'
        run: mv target/release/${{ matrix.artifact_name }} target/release/${{ matrix.asset_name }}

      - name: Rename binary (Windows)
        if: matrix.os == 'windows-latest'
        run: move target/release/${{ matrix.artifact_name }} target/release/${{ matrix.asset_name }}

      - name: Upload binaries to release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/${{ matrix.asset_name }}
